<!-- By adding @user to the form_for, each link will include a specific user id -->
<%= form_for @link do |f| %>

	<div>
		<%= f.label :title %>
		<%= f.text_field :title %>
	</div>

	<div>
		<%= f.label :url %>
		<%= f.text_field :url %>
	</div>

	<div>
		<%= f.label :topic %>
		<%= f.grouped_collection_select :subtopic_id, Topic.order(:name), :subtopics, :name, :id, :name %>
		<!-- We can add an option to create a topic here if we decide that users can create topics -->
	</div>

<!-- ADD COLLECTION FIELD FOR SUBTOPIC WHEN RELATIOSNHIP BETWEEN LINKS AND SUBTOPICS HAS BEEN ESTABLSIHED -->
	



	<div>
		<%= f.submit "Add This Link!" %>
	</div>

<% end %>