<div class="container">
	<div class="row">
		<div class="text-center col-lg-offset-1 col-lg-10 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8" id="link-show">
			<h1><a href="<%= @link.url %>"><%= fetch(@link.url.to_s).title %></a></h1>
			<h3><%= fetch(@link.url.to_s).description%></h3>
			<img class="link-img" src= "<%= fetch(@link.url.to_s).images.first.src %>">
			<% if current_user.admin %> <%= link_to "Delete this link", links_path, method: :delete, data: {confirm: "Are you sure you want to delete this link?"}%><% end %>
		</div>
	</div>	
</div>

<div class="container">
	<div class="row">
		<div class="text-center col-lg-offset-1 col-lg-10 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8">
			<h2>Comments</h2>

			<% @link.comments.each do |comment| %>
				
				<p><strong><%= comment.user.name %></strong>: <%= comment.body %></p>
				
			<% end %>

			<h2>Add A Comment</h2>

			<%= form_for [@link, Comment.new] do |f| %>
				
				<div>
					<%= f.label :body %>
					<%= f.text_area :body %>
				</div>

				<div>
					<%= f.submit "Add Comment" %>
				</div>

			<% end %>
		</div>
	</div>
</div>