<!DOCTYPE html>
<html>
<head>
  <title>POC</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<nav class="navbar">
		<h1>Party On Code!</h1>

		<% if user_signed_in? %>
		   		<ul>
					<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
				</ul>
		<% else %>
		   		<ul>
					<li><%= link_to "Sign In", signin_path %></li>
				</ul>
		<% end %>
	</nav>	

		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>





<%= yield %>

</body>
</html>
