<!DOCTYPE html>
<html>
<head>
  <title>POC</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="row">
		<nav class="navbar">
			<h1><%= link_to "Party On Code!", root_path %></h1>

			<% if user_signed_in? %>
			   		<ul>
							<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
	          <!-- added link to user profile so that a user could see what links they have upvoted  -->
		   	      <li><%= link_to "Your Profile", user_path(current_user) %> </li>
					</ul>
			<% else %>
			   		<ul>
						<li><%= link_to "Sign In", signin_path %></li>
					</ul>
			<% end %>
		</nav>	
	</div>

		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>





<%= yield %>

</body>
</html>
